body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background-color: #01a9b4;
  }

.header {
    align-items: center;
    background-color: #01a9b4;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }

.header__img {
    margin-left: 30px;
    width: 200px;
  }

.register {
    background: linear-gradient(#01A9B4, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.register__container {
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 70px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.register__container--form {
    display: flex;
    flex-direction: column;
}

.register__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.register__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
    align-items: center;
}

.register__container-iniciar-sesion {
    font-size: 14px;
    text-align: center;
}

.register__container-iniciar-sesion a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

  .register__container-iniciar-sesion a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:600px) {
    .header__img {
          margin: auto;
    }  
    
    .register__container {
          background-color: transparent;
          border: none;
          padding: 0px;
          width: 100%;
      }

    .footer {
          align-items: flex-start;
          flex-direction: column;
    }
  }